### 1 converting an integer into Decimal

In [103]:
from decimal import Decimal
integer=10
print(Decimal(integer))
print(type(Decimal(integer)))

10
<class 'decimal.Decimal'>

In [105]:
intege=10
print(Decimal(integer))
print(type(Decimal(integer)))

10
<class 'decimal.Decimal'>

### 2 converting an string of integers into Decimals

In [108]:
string= "123456"
print(Decimal(string))
print(type(Decimal(string)))

123456
<class 'decimal.Decimal'>

### 3 Reversing a string using an extended slicing technique

In [111]:
string="Python Progarmming"
print(string[::-1])

gnimmragorP nohtyP

In [23]:
def re(n):
    for i in n:
        return n[::-1]

re("apple")

'elppa'

In [43]:
def dfin(n):
    p=''
    for each in n:
        if 97 <=ord(each)<=122:
            p+=chr(ord(each)-32)
        else:
            p+=each
    print(p)       
dfin("Gajala")

GAJALA

In [49]:
def gh(n):
    p=''
    for each in n:
        if 65 <=ord(each)<=90:
            p+=chr(ord(each)+32)
        else:
            p+=each
    print(p)

gh("ABhi")

abhi

### 4 Counting vowels in a given words

In [170]:
## by using function

list1=["a","e","i","o","u"]
def count_vowels(sentance):
    count = 0
    for i in sentance:
        if i in list1:
            count +=1
        return(count)

In [166]:
list1 =['a','e','i','o','u']
def count_(s):
    count= 0
    for each in s:
        if each in list1:
            count+=1
        return(count)


count_("a")

1

In [172]:
count_vowels("a")

1

In [190]:
## using for loops
vowels = ["a","e","i","o","u"]
count = 0
#words = "a"
for i in vowels: 
    count+=1

print(count)

5

### 5 Counting consonants in a given words

In [154]:
## using function

list1=["a","e","i","o","u"]
def count_consonants(sentance):
    count = 0
    for i in sentance:
        if i in list1:
            count +=1
        return(count)

In [158]:
count_consonants("eai")

1

In [125]:
## using for loops
vowels = ["a","e","i","o","u"]
count = 0
words = "Programming"
for i in words:
    if i in vowels:
        count +=0

print(count)

0

### 6 Counting the number of Occurance of a character in a string

In [128]:
words = "Python_Programming"
character ="g"
count=0
for  i in words:
    if i == character:
        count +=1

print(count)

2

### 7 Writing Fibonacci series by using recursive

In [200]:
n = int(input("Enter a number:"))

def fib(n):
    if n == 0:
        return 0
    elif n ==1:
        return 1
    else:
        return fib(n-1)+fib(n-2)
print(fib(n))

Enter a number: 7

13

In [202]:
n = int(input("Enter a number;"))
def df(n):
    if n ==0:
        return 0
    elif n ==1:
        return 1
    else:
        return df(n-1)+df(n-2)

print(df(n))

Enter a number; 7

13

In [210]:
def feb(n):
    if n ==0:
        return 0
    elif n == 1:
        return 1
    else:
        return feb(n-1)+feb(n-2)

feb(7)

13

### 8 Writing Factorials

In [196]:
n = int(input("Enter a number"))

def fact(n):
    fact =1
    for i in range(1,n+1):
        fact *= i
    return fact
print(fact(n))

Enter a number 7

5040

In [9]:
n = int(input("Enter a number"))

def fact(n):
    fact =1
    for i in range(1,n+1):
        fact *= i
    return fact
print(fact(n))

Enter a number 5

120

In [13]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact *=i
    return fact

print(fact(10))

3628800

### 9 Write a factorial by using Recursive version

In [212]:
n = int(input("Enter a number:"))

def fact(n):
    if n == 0 or n ==1:
        return 1
    else:
        return n * fact(n-1)

fact(n)

Enter a number: 3

6

### 10 Write a normal fabonacci

In [19]:
n = int(input("Enter a number:"))

def fact(n):
    if n == 0 or n ==1:
        return 1
    else:
        return n * fact(n-1)

fact(n)

Enter a number: 40

815915283247897734345611269596115894272000000000

In [5]:
n = int(input("Enter a number:"))

def fib(n):
    a , b = 0, 1
    for _ in range(n):
        print (a)
        a , b = b, a+b

fib(n)

Enter a number: 10

0
1
1
2
3
5
8
13
21
34

In [9]:
def fac(n):
    a,b = 0,1
    for _ in range(n):
        print(a)
        a,b =b ,a+b

fac(10)

0
1
1
2
3
5
8
13
21
34

### 11 Finding the maximum number in a list

In [139]:
number_list =[12,23,1,2,34,5,65]

def number(number_list):
    return  max(number_list)

number(number_list)

65

### 12 Finding the minimum in a list

In [142]:
list1=  [11,23,1,2,34,5,65]

def number(list1):
    return min(list1)

number(list1)

1

### 13 Finding the middle elements in a list

In [145]:
list2 =[11,2,33,4,56,5,21]

def middle(list2):
    return int(len(list2 )// 2)

middle(list2)

3

### 14 Write a python programming to generate a random number .

In [2]:
import random
print(f'random:{random.randint(1,100)}')

random:3

### 15 Write a python programming to swap two variable

In [6]:
a = input("Enter a first variable")
b = input("Enter a second variable")

print(f'original values:a={a},b={b}')
temp = a
a = b
b = temp
print(f'swapped value :a={a},b={b}')

Enter a first variable a
Enter a second variable b

original values:a=a,b=b
swapped value :a=b,b=a

### 15 Write a python function to convert kilometer to miles .

In [7]:
def miles_(kilometer):
    miles = 0.621371
    return kilometer*miles


miles_(10)
#print(f'{miles} kilometer is equal to {kilometer} miles')

6.21371

### 16 write a python programming to display calender

In [30]:
import calendar
year = int(input("Enter year :"))
month = int(input("Enter month :"))

cal = calendar.month(year,month)
print(cal)

Enter year : 2003
Enter month : 11

   November 2003
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

#### 17 Write a python program to swap two variables without temp variable .

In [6]:
a = 15
b = 10

a,b = b ,a
print("After swapping:")
print("a =", a )
print("b =", b )

After swapping:
a = 10
b = 15

### 18 Write a python program to swap two variables without temp variable .

In [11]:
a = input("Enter a variable")
b = input("Enter a variable")
print(f'Original Values: a ={a},b ={b}')

temp = a
a = b
b = temp

print(f'Swapped values: a = {a}, b = {b}')

Enter a variable 100
Enter a variable 20

Original Values: a =100,b =20
Swapped values: a = 20, b = 100

### 19 Write a python program to check if a number is positive,negative or zero

In [40]:
num = int(input("Enter a number :"))

if num > 0:
    print("positive number")

elif num == 0:
    print("zero")

else:
    print("negative number ")

Enter a number : -1

negative number

### 20 Write a python program to check if a number is odd or even .

In [30]:
num = int(input("Enter a number :"))
if num%2 == 0:
    print("This is a even number :")

else:
    print("This is a odd number ")

Enter a number : 1

This is a odd number

### 21 Write a python programing to check Leap year .

In [59]:
year = int(input("Enter a year :"))

if (year% 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

elif(year%4 == 0) and (year %100 != 0):
    print("{0} is a leap year".format(year))

else:
    print("{0} This is not a leap year".format(year))

Enter a year : 2024

2024 is a leap year

### 22 Write a python program to dislay the multiplication table.

In [71]:
num = int(input("Display multiplication table of: "))

for i in range(1,11):
    print(f'{num} x {i}= {num*i}')

Display multiplication table of:  10

10 x 1= 10
10 x 2= 20
10 x 3= 30
10 x 4= 40
10 x 5= 50
10 x 6= 60
10 x 7= 70
10 x 8= 80
10 x 9= 90
10 x 10= 100

### 23 Write a python program to find the sum of natural numbers .

In [98]:
n =int( input("Enter a number :"))
sum = 0

for i in (1,n +1):
    sum += i

print("sum of first",n,sum)

Enter a number : 5

sum of first 5 7

In [31]:
## lenght of string
def fun(s):
    length=0
    for i in s:
        length+=1
    return length

fun("ammi")

4

In [29]:
## lenght of string
def fun(s):
    length = 0
    for i in s:
        length += 1
    return length
fun("ammi")

4

In [35]:
## lenght of string
def fun(s):
    lenght= 0
    while s:
        lenght +=1
        s=s[1:]
    return lenght

fun("ammi")

4

In [39]:
## concatenate the two  string
def concatenate(s1,s2):
    result=''
    for i in s1:
        result += i
    for i in s2:
        result += i
    return result

concatenate("gajala","abhi")

'gajalaabhi'

In [79]:
## compare the string
def compare(s1,s2):
    if len(s1)!=len(s2):
        return False
    for each in range (len(s1)):
        if s1[each] != s2[each]:
            return False
    else:
        return True

compare("gajala","abhi")

False

In [83]:
def com(s1,s2):
    if len(s1)!=len(s2):
        return False
    for each in range(len(ss1)):
        if s1[each]!= s2[each]:
            return False
    return True

com("a","ab")

False

In [105]:
def comp(s1,s2):
    if len(str(s1))==len(str(s2)):
        return True
    else:
        return False

comp(19,19)

True

In [111]:
def fd(e1,d2):
    for each in range(len(e1)):
        if e1[each]!= d2[each]:
            return False
        else:
            return True

fd('asd','asd')

True

In [57]:
## substring
def string_(s,start,end):
    result = ''
    for i in range(start,end):
        result +=s[i]
    return result

string_("gajal",0,3)

'gaj'

In [123]:
## string search

def search(s,sub_string):
    length = string_lenght(sub_string)
    for each in range(string_lenght(s)-lenght +1):
        if s[i:i+length]==substring:
            return True
    return False  

search("gajala",3)

NameError: name 'string_lenght' is not defined

In [51]:
## dictionary